<div id="<%= dom_id booking_history %>">
  <p>
    <strong>User:</strong>
    <%= booking_history.user_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= booking_history.room_id %>
  </p>

  <p>
    <strong>Checkin:</strong>
    <%= booking_history.checkIn %>
  </p>

  <p>
    <strong>Checkout:</strong>
    <%= booking_history.checkOut %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= booking_history.description %>
  </p>

</div>
