<div id="<%= dom_id room %>">
  <p>
    <strong>Bednum:</strong>
    <%= room.bedNum %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room.description %>
  </p>

  <p>
    <strong>Isavailable:</strong>
    <%= room.isAvailable %>
  </p>

</div>
